.list  {
  display: flex;
  flex-direction: column;
  min-width: 235px;
  min-height: 112px;
  background-color: rgb(255,255,255);
  padding: 5px 10px;
  max-height: calc(100vh - 240px);

  &__title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    padding: 15px 0;
    border-bottom: 1px solid #e2e2e2;
    font-size: 16px;
    font-weight: 600;
  }

  &__tasks {
    overflow: auto;

    &::-webkit-scrollbar {
      background-color: transparent;
      width: 7px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #d3d5dc;
      border-radius: 5px;
    }
  }

  input {
    padding: 11px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 2.5px solid rgba(255, 255, 255, 0.8);
    width: 225px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.16), 0 3px 3px rgba(0,0,0,0.23);
    margin-top: 10px;
    border: 1px solid transparent;
  }

  &__add-button {
    color: black;
    font-size: 18px;
    padding: 3px 0 3px 5px;
    border-radius: 4px;
    margin-top: 10px;
    width: 100%;

    &:hover {
      background-color: #edfdf3;
      cursor: pointer;
    }
  }
}
