.task {
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 6px 6px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  text-decoration: none;
  background-color: rgb(202, 255, 222);
  margin: 10px 0;
  padding: 14px 7px;
  border-radius: 4.5px;
  cursor: grab;
  display: flex;
  justify-content: space-between;
  width: 100%;

  span {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &_ready {
    text-decoration: line-through;
    background-color: rgb(222, 202, 255);
  }

  &__switcher {
    cursor: pointer;
  }
}
