.main-page {
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 25px;
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
    color: black;
  }

  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px 0 0 55px;
  }

  .create-button,  .board {
    margin-bottom: 40px;
    margin-right: 40px;
  }
 }
 