@keyframes hover-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-5deg);
  }
}

.main-page {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    width: 65px;
    height: 65px;
    box-shadow: 0 3px 15px black;
    border-radius: 50%;
    margin-top: 20px;

    &_hover {
      box-shadow: 0 3px 15px 3px black;
      width: 68px;
      height: 68px;
      animation: hover-rotate 0.1s;
      animation-fill-mode: forwards;
      margin-top: 17px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}