body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%)
}

code {
  font-family: 'Open Sans', sans-serif;
}
